*{
    margin: 0;
    padding: 0;
}
.mane-website{
    width: 1024px;
     margin: 10px auto; 

}
.banner-img {
    height: 350px;
    background-image: url(img//photo-1471879832106-c7ab9e0cee23.jpg);
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}
/* .banner-img {
    height: 350px;
    background-image: url(img//photo-1471879832106-c7ab9e0cee23.jpg);
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
} */
.logo-img{
    position: absolute;
}
.logo-img img {
    position: relative;
    margin-top: 30p;
    margin-left: 176px;
    width: 86px;
    margin-top: 62px;
}

.menu-section{
    position: relative;
}
.menu-section ul {
    text-align: right;
    left: 421px;
    position: absolute;
    top: 57px;
}
.menu-section ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 7px;
}
.menu-section ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-section ul li a:hover{
    color: #ef664d;
    transition: .3s;
}
h1 {
    color: #fff;
    margin-left: 60px;
    padding-top: 153px;
    text-align: center;
}
h1::after{
    content: "\f10e";
    font-family: "font Awesome 6 Free";
    font-weight: 900;
    color: #ef664d;
}
h1::before{
    content: "\f10d" ;
    font-family:"font Awesome 6 Free" ;
    font-weight: 900;
    color: #ef664d;


}
/* ABOUT-SECRION */
.about-secrion{
    height: 300px;
}
.about-secrion{
    
}
.about-secrion h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 400;
}
.about-leftaria{
    width: 20%;
    margin-right: 9%;
    display: inline-block;
}
.about-leftaria img {
    max-width: 100%;
    border: 2px solid red;
    box-shadow: 0px 1px 10px 3px black;
}
.about-rightaria{
    width: 70%;
    display: inline-block;
}
.about-rightaria p {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 20px;
}
/* SERVIC-SECTION CSS */
.main-servic{
    background-color: #2e3e4e;
}
.servic-section{
    padding: 30px 0;
}
.servic-contante {
    width: 30%;
    margin: 27px 15px;
    display: inline-block;
    text-align: center;
}
.servic-contante i {
    width: 40px;
    height: 40px;
    background-color: #ef664d;
    border-radius: 5px 20px;
    color: #fff;
    padding: 0px 9px;
    line-height: 40px;
}
.servic-section h2{
    text-align: center;
    
    /* margin: 62px 29px; */
    color: #ef664d;
    font-size: 35px;
    font-weight: 500;
}
.servic-contante h3 {
    color: antiquewhite;
    padding: 23px;
    font-size: 20px;
}
.servic-contante ul{
    display: inline-block;
    color: rgb(246, 244, 242);
}
.servic-contante ul li{
    list-style: none;
    padding: 5px 0;
}
.servic-contante ul li::before{
    content: '\f560';
    font-family:"font Awesome 6 Free" ;
    font-weight: 900;
    color: #ef664d;
    margin-right: 10px;
}

.ankor-tage{
    background: #ef664d;
    text-decoration: none;
    padding: 7px 18px;
    margin-top: 14px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 19px;
    position: relative;
    z-index: 1;
    
}
.ankor-tage::after{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2e208;
    
    border-radius: 4px;
    z-index: -1;
    transition: .3s;
    
}
.ankor-tage:hover::after{
    width: 100%;
}
.ankor-tage-0{
    background: #ef664d;
    text-decoration: none;
    padding: 7px 18px;
    margin-top: 14px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 19px;
    position: relative;
    z-index: 1;
    
}
.ankor-tage-0::after{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f2e208;
    
    border-radius: 4px;
    z-index: -1;
    transition: .3s;
    
}
.ankor-tage-0:hover::after{
    height: 100%;
}
.ankor-tage-01{
    background: #ef664d;
    text-decoration: none;
    padding: 7px 18px;
    margin-top: 14px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 19px;
    position: relative;
    z-index: 1;
    
}
.ankor-tage-01::after{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f2e208;
    
    border-radius: 4px;
    z-index: -1;
    transition: .3s;
    
}
.ankor-tage-01:hover::after{
    width: 100%;
}
/* CONTACT - SECTION */
.contact-section{
    text-align: center;
    padding: 50px 0;
}
.contact-section h2{
    margin-bottom: 30px;
}
.contact-section form {
    margin-bottom: 25px;
}
.contact-section form input {
    width: 30%;
    border: none;
    border-bottom: 3px solid #ef664d;
    margin: 17px;
}
/* .contact-section a {
    text-decoration: none;
    margin-top: 26px;
    background: #ef664d;
    padding: 6px 79px;
    border-radius: 7px;
    box-shadow: 4px 3px 6px -2px black;
    color: aliceblue;
    font-size: 20px;
    position: relative;
}
.contact-section a::after{
    contain: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: aquamarine;
    position: absolute;

} */
.button-point {
    text-decoration: none;
    background:#ef664d;
    padding: 16px 85px;
    border-radius: 7px;
    display: inline-block;
    color: cornsilk;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.button-point::before {
    /* content: "";
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background-color: #9A4E4E;
    position: absolute;
    border-radius: 7px 0px 0px 7px;
    z-index: -1;
    transition: .3s; */

    content: "";
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background-color: rgba(39, 36, 32, 0.655);
    position: absolute;
    border-radius: 7px 0px 0px 7px;
    z-index: -1;
    transition: .3s;
}
.button-point:hover:before{
   
    width: 50%;
}

.button-point {
    text-decoration: none;
    background:#ef664d;
    padding: 16px 85px;
    border-radius: 7px;
    display: inline-block;
    color: cornsilk;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.button-point::after{
    content: "";
    height: 100%;
    width: 0%;
    right: 0;
    top: 0;
    background-color: rgba(30, 18, 5, 0.366);
    position: absolute;
    border-radius: 0px 7px 7px 0px;
    z-index: -1;
    transition: .3s;
}
.button-point:hover::after{
   
    width: 50%;
}

/* fotter-section */
.fotter-section {
    text-align: center;
    background-color: #2e3e4e;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    margin: 10px auto;
    width: 1024px;
}
.fotter-section p{

}
strong {
    color: #f2614d;
    font-weight: 100;
}
